#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 20px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }

  


  .app_header {
    color: #333;
    animation: colorChange 5s infinite;
    font-size: 30px;
   
    margin-right:700px;
  }
  
  @keyframes colorChange {
    0% {
      color: #2f3c56;
    }
    50% {
      color: #393732;
    }
    100% {
      color: #090101;
    }
  }
  
  .header:hover {
    animation-play-state: paused;
  }
  

  .welcome_user{
    padding: 10px;
    color: white;
    margin-top: 12rem;
    
  }
  .welcome_user h6{
  white-space: nowrap; 
  width: 180px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  }


  
  .site-layout .site-layout-background {
    background: #fff;
    box-shadow: 0 0 3px #a29292;
    border-radius: 5px;
    margin: 10px;
    overflow: auto;
  }
  
  .ant-layout-has-sider {
    padding: 5px !important;
    
  }
  
  .ant-layout.ant-layout-has-sider {
    height: 100vh;
   background-color: rgb(184, 199, 213);

  }
  
  .ant-layout-sider {
    border-radius: 10px !important;
    padding-top: 10px !important;
    background-color: #5A8DD5 !important;
    margin-right: -10px;
    
  }
  .ant-menu,.ant-menu Link{
    background-color: #5A8DD5;
    font-size: 20px;
    
  }
  

  .ant-menu{
    padding: 5px;
    margin: 50px auto;
  }


  .anticon svg {
    height: 20px;
    width: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .ant-card-body{
    padding: 14px !important;
  }

  .ant-layout-header{
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cart-item{
    display: flex;
    padding-right: 30px;
    cursor: pointer;
  }

  .cart-item p{
    margin-top: 10px;
    font-weight: bold;
  }

  .ant-layout{
    background: transparent;
  }

  .admin_homepage{
    display: flex;
    justify-content: space-around;
    margin: 20px 10px;
    border: 2px solid blue;
    border-radius: 10px;
    
  }
  .admin_homepage div:hover{
    background-color: #393732;
    color: white;
    width: 100px;
    height: inherit;

  }


  .ant-table table { font-size: 20px; }

   